.heading{
  font-size: large;
  font-weight: 900;
  font-style: oblique;
}

.flex-box{
  width: 50rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: color-mix(in srgb, #3b87e4 50%, #fbfe6b 50%); */
  /* background: linear-gradient(to top right, rgb(255, 128, 124), rgb(123, 122, 120), #4df3d2); */
  backdrop-filter: blur(2px);
    border-radius: 25px;
}

.flex-item{
  width: 12rem;
  min-height: 6rem;
  padding: 1rem;
  /* margin: 10px; */
  border: 3px solid #333;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 10px;
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background: linear-gradient(to top right,rgb(222, 139, 136),
    rgb(175, 173, 169),
    #96ddce ) */
}

/* .flex-box{
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
} */

#bc-clr{
background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);;
}

#head-clr{
  background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}

.flex-item{
  align-self: stretch;
  background-image: linear-gradient(to top right, #d8b3a3 0%, #c7bef7 100%);  
}

.category-list{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* background-color: blue; */
}

/* img{
  width: 3rem;
} */

.algorithm-image{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.datastructure-img{
  width: 100%;
    height: auto;
    object-fit: contain;
}

.Mathematics-img{
  width: 100%;
    height: auto;
    object-fit: contain;
}

.category-img{
  width: 7rem;
}

/* .dashboard{
  background-color: #4df3d2;
} */