body{
  /* background-image: url("./assets/images/bg2.jpg");
  background-size: cover; */
  /* background: linear-gradient(rgb(252, 202, 210)); */
  /* background: linear-gradient(to right, #fe009a, rgb(233, 179, 112), #FDDA0D); */
  /* background-image: url(src/assets/images/bg.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#box
{
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  /* background: linear-gradient(to right, #fe009a, rgb(233, 179, 112), #FDDA0D); */
  /* background: linear-gradient(to top right, pink, yellow); */
  background-color: rgba(255, 255, 255, 0.250) ;
  
  backdrop-filter: blur(8px);
}
